on: [push, pull_request]
jobs:
    create_latest_tag:
      name: "Create latest tag"
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2

        # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
        - name: Run latest-tag
          uses: EndBug/latest-tag@latest
          with:
            description: Update to newest version
